/* PC style */
@media screen and (min-width: 769px){
  .p-hamburgerPC{
    /* display: none; */
    /* position: absolute; */
    position: fixed;/*画面右に固定*/
    right: -450px;
    /* transform: scaleX(0); */
    top: 0;
    width: 350px;
    height: 100vh;
    padding: 100px 50px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    overflow-y: auto;
    font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "Noto Serif JP", "ＭＳ 明朝", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "HG明朝E", serif;
  }

  .p-humburgerSPbutton{
    display: none;
  }

  .p-humburgerSP{
    display: none;
  }

  .p-hamburgerPC__top{
    margin-bottom: 2em;
    padding-bottom: 2em;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .p-hamburgerPC__close{
    position: absolute;
    top: 25px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .barTop{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 10%;
    margin: -8% 0 0 -42%;
    background: #fff;
    transform: rotate(-45deg);
  }

  .barBottom{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 10%;
    margin: -8% 0 0 -42%;
    background: #fff;
    transform: rotate(45deg);
  }

  .p-hamburgerPC__title{
    font-size: 1.1em;
    text-align: center;
    padding: 0.5em 0;
    border: 1px solid #fff;
    margin-bottom: 1.5em;
  }

  .p-hamburgerPC__top ul{
    list-style: none;
  }

  .p-hamburgerPC__top ul li{
    margin-bottom: 8px;
  }

  .p-hamburgerPC__top select{
    border-radius: 3px;
    padding: 0 0.5em;
    font-family: Source Serif Pro, "æ¸¸æ˜Žæœ", YuMincho, "ãƒ’ãƒ©ã‚®ãƒŽæ˜Žæœ ProN W3", Hiragino Mincho ProN, "ï¼­ï¼³ æ˜Žæœ", "ï¼­ï¼³ ï¼°æ˜Žæœ", "HGæ˜ŽæœE", serif;
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    appearance: none; /* 標準のスタイルを無効にする */
  }

  .p-hamburgerPC__kids{
    position: relative;
    text-align: center;
    cursor: pointer;
  }

  .p-hamburgerPC__kids::after{
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 130px;
    top: calc(50% - 7px);
  }

  .p-hamburgerPC__kidsList{
    position: absolute;
    z-index: 5;
    width: 290px;
    padding: 30px 30px 25px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.8);

    display: none;
  }

  .p-hamburgerPC__kidsList > p{
    padding: 16px 0 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #fff;
  }

  .p-hamburgerPC__kidsList li{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .p-hamburgerPC__kidsClose{
    width: 258px;
    padding: 8px 16px;
    color: black;
    background-color: #fff;
    display: flex;
    align-items: center;
  }

  .p-hamburgerPC__kidsClose p{
    margin: 0 auto;
  }

  .p-search{
    position: relative;
    width: 100%;
    height: 42px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.9) 1px solid;
  }

  .p-search > p{
    margin: 0 auto;
    padding: 0;
  }

  .p-search:hover{
    color: white;
    background-color: black;
    border:1px solid white; /*borderのみ非表示*/
    transition: all 0.5s ease;
  }

  .p-search__arrow{
    position: absolute;
    left: 15px;
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow_down.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
  }

  .c-search__arrowWhite{
    display: none;
  }

  .c-search:hover .c-search__arrow{
    display: none;
  }

  .p-search:hover .c-search__arrowWhite{
    display: block;
    position: absolute;
    left: 15px;
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow_hover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-hamburgerPC__bottom{
    color: white;

  }

  .p-hamburgerPC__link{
    list-style: none;
    margin-bottom: 32px;
  }

  .p-hamburgerPC__link li{
    position: relative;
    padding-left: 20px;
    line-height: 1.5;
    cursor: pointer;
  }

  .p-hamburgerPC__link li p::before{
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow_hover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-hamburgerPC__reserve{
    color: black;
    background-color: white;
    padding: 16px 16px 16px 0;
    margin: 20px 0;
  }

  .p-hamburgerPC__reserveCover{
    position: relative;
    padding-left: 90px;
  }

  .p-hamburgerPC__reserveCover::before{
    display: block;
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-image: url("../img/hamburger/icon_phone.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-hamburgerPC__tel{
    height: 25px;
    border-bottom: 1px black solid;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: left;
  }

  .p-hamburgerPC__reserveBottom{
    padding-top: 5px;
  }

  .p-hamburgerPC__number{
    width: 185px;
    height: 22px;
    margin-bottom: 3px;
    background-image: url("../img/hamburger/reserve_tel.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-hamburgerPC__openhour{}

  .p-hamburgerPC__bestrate{
    height: 165px;
    color: black;
    background-color: white;
    padding: 20px 15px;
  }

  .p-hamburgerPC__bestrateTop{
    position: relative;
    /* height: 100px; */
    border-bottom: 1px black solid;
  }

  .p-hamburgerPC__bestrateTop::before{
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    left: -15px;
    top: -20px;
    z-index: 1;
    border-left: #af9463 2px solid;
    border-top: #af9463 2px solid;
  }

  .p-hamburgerPC__bestrateTop::after{
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    right: -15px;
    top: -20px;
    z-index: 1;
    border-right: #af9463 2px solid;
    border-top: #af9463 2px solid;
  }

  .p-hamburgerPC__bestrateCover{
    height: 100px;
    padding-left: 130px;
    position: relative;
  }

  .p-hamburgerPC__bestrateCover::before{
    display: block;
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-image: url("../img/hamburger/reserve_bestrate.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-hamburgerPC__bestrateCover p{
    font-size: 13px;
    line-height: 160%;
  }

  .p-hamburgerPC__bestrateTitle{
    font-size: 21px !important;
    color: #af9463;
  }

  .p-hamburgerPC__bestrateBottom{
    position: relative;
    font-size: 14px;
    margin-top: 8px;
    padding-top: 10px;
    line-height: 160%;
  }

  .p-hamburgerPC__bestrateBottom::before{
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    left: -15px;
    bottom: -21px;
    z-index: 1;
    border-left: #af9463 2px solid;
    border-bottom: #af9463 2px solid;
  }

  .p-hamburgerPC__bestrateBottom::after{
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    right: -15px;
    bottom: -21px;
    z-index: 1;
    border-right: #af9463 2px solid;
    border-bottom: #af9463 2px solid;
  }

  /* after click event */

  .add{
    position: fixed;
    right: 0;
    transition:all .6s;
    overflow-y: scroll;
  }
  
  .close{
    position: absolute;
    right: -450px;
    transition:all .6s;
  }

  .open{

  }

}



/* SP style */
@media screen and (max-width: 768px){

  .p-hamburgerPC{
    display: none;
  }

  .p-humburgerSPbutton{
    position: absolute;
    right: 0;
    width: 55px;
    height: 100%;
  }

  .p-humburgerSPbutton::before{
    position: absolute;
    content: '';
    height: 30px;
    width: 1px;
    background-color: #c3c3c3;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -15px 0 0;
  }

  .p-humburgerSPbutton__img{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../img/header/sp/humburger_menu.png");
    background-size: 30px 15px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .p-humburgerSPbutton__close{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../img/header/sp/humburger_close.png");
    background-size: 30px 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
  }

.active{
  display: block;
}

/* p-humburgerSP */
.p-humburgerSP{
  display: none;

  height: 100%;
  padding:70px 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-y: scroll;
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "Noto Serif JP", "ＭＳ 明朝", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "HG明朝E", serif;
}

.p-humburgerSP__language{
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.p-humburgerSP__language li{
  width: 30%;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0 5px 10px;
  border: #c3c3c3 1px solid;
  cursor:pointer;
}

.p-humburgerSP__language a{
  margin: 0 auto;
}

.p-humburgerSP__nav{
  margin-top: 15px;
  text-align: center;
  list-style: none;
  line-height: 2;
}

.p-humburgerSP__nav li{
  position: relative;
  border-bottom: #c3c3c3 1px solid;
  padding: 10px 0;
  cursor: pointer;
}

.p-humburgerSP__nav li:last-child{
  border: none;
}

.p-humburgerSP__search{
  list-style: none;
  margin-top: 15px;

}

.p-humburgerSP__search li{
  margin-bottom: 15px;
  height: 60px;
  display: flex;
  align-items: center;
  border: double;
  cursor: pointer;
}

.p-humburgerSP__search a{
  margin: 0 auto;
}

.p-humburgerSP__search a::after{
  content: "";
  position: absolute;
  background-image: url("");
  background-size: 30px 15px;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.p-humburgerSP__cancel{
  position: relative;
  font-size: 12px;
  text-align: left;
  padding-left: 30px;
  cursor: pointer;
}

.p-humburgerSP__cancel > p{
  width: 150px;
  border-bottom: #c3c3c3 1px solid;
}

.p-humburgerSP__cancel > p::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
  background-image: url("../img/arrow_down.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.p-humburgerSP__tel{
  display: flex;
  width: 100%;
  margin-top: 15px;
  padding: 10px 0;
  border: double;
}

.p-humburgerSP__telLeft{
  width: 50%;
  display: flex;
  align-items: center;
  border-right: 1px solid black;
}

.p-humburgerSP__telLeft p{
  position: relative;
margin: 0 auto;
padding-left: 30px;
text-align: left;
font-size: 12px;
}

.p-humburgerSP__telLeft p::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/hamburger/icon_phone.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.p-humburgerSP__telRight{
  display: flex;
  align-items: center;
  width: 50%;
  height: 60px;
  cursor: pointer;
}

.p-humburgerSP__telRight p{
  width: 105px;
  height: 27px;
  margin: 0 auto;
  background-image: url("../img/hamburger/menu_tel.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p-hamburgerSP__bestrate{
  height: 110px;
  color: black;
  background-color: white;
  margin-top: 15px;
  padding: 15px 10px;
  border: #c3c3c3 1px solid;
}

.p-hamburgerSP__bestrateTop{
  position: relative;
  text-align: left;
}

.p-hamburgerSP__bestrateTop::before{
  content: '';
  width: 29px;
  height: 29px;
  position: absolute;
  left: -12px;
  top: -17px;
  z-index: 1;
  border-left: #af9463 2px solid;
  border-top: #af9463 2px solid;
}

.p-hamburgerSP__bestrateTop::after{
  content: '';
  width: 29px;
  height: 29px;
  position: absolute;
  right: -12px;
  top: -17px;
  z-index: 1;
  border-right: #af9463 2px solid;
  border-top: #af9463 2px solid;
}

.p-hamburgerSP__bestrateCover{
  height: 60px;
  padding-left: 90px;
  position: relative;
}

.p-hamburgerSP__bestrateCover::before{
  display: block;
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../img/hamburger/reserve_bestrate.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p-hamburgerSP__bestrateCover p{
  font-size: 13px;
  line-height: 160%;
}

.p-hamburgerSP__bestrateTitle{
  font-size: 21px !important;
  color: #af9463;
}

.p-hamburgerSP__bestrateBottom{
  position: relative;
  font-size: 14px;
  margin-top: 8px;
  padding-top: 10px;
  line-height: 160%;
}

.p-hamburgerSP__bestrateBottom::before{
  content: '';
  width: 29px;
  height: 29px;
  position: absolute;
  left: -12px;
  bottom: -3px;
  z-index: 1;
  border-left: #af9463 2px solid;
  border-bottom: #af9463 2px solid;
}

.p-hamburgerSP__bestrateBottom::after{
  content: '';
  width: 29px;
  height: 29px;
  position: absolute;
  right: -12px;
  bottom: -3px;
  z-index: 1;
  border-right: #af9463 2px solid;
  border-bottom: #af9463 2px solid;
}


.p-humburgerSP__menu{
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  list-style: none;
}

.p-humburgerSP__menu li{
  width: 50%;
  font-size: 12px;
  margin-bottom: 20px;
  cursor: pointer;
}

.p-humburgerSP__menu a{
  border-bottom: 1px solid black;
}


.p-humburgerSP__sns{
  width: 220px;
  display: flex;
  margin: 20px auto 0;
  padding-bottom: 60px;
}

.p-humburgerSP__facebook{
    margin: 0 40px;
    width: 40px;
    height: 40px;
    background-image: url("../img/hamburger/facebook.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  cursor: pointer;
}

.p-humburgerSP__instagram{
  margin: 0 40px;
  width: 40px;
  height: 40px;
  background-image: url("../img/hamburger/instagram.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.close{
  /* ハンバーガーメニュー展開時、背景を固定 */
  height: 100%;
  overflow: hidden;  
}


}