/* PC style */
@media screen and (min-width: 769px){
  .p-hamburgerPC{
    /* display: none; */
    position: absolute;
    right: -450px;
    /* transform: scaleX(0); */
    top: 0;
    width: 350px;
    height: 100vh;
    padding: 100px 50px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    overflow-y: auto;
    font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "Noto Serif JP", "ＭＳ 明朝", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "HG明朝E", serif;
  }

  .p-humburgerSP{
    display: none;
  }

  .p-hamburgerPC__top{
    margin-bottom: 2em;
    padding-bottom: 2em;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .p-hamburgerPC__close{
    position: absolute;
    top: 25px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .barTop{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 10%;
    margin: -8% 0 0 -42%;
    background: #fff;
    transform: rotate(-45deg);
  }

  .barBottom{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 10%;
    margin: -8% 0 0 -42%;
    background: #fff;
    transform: rotate(45deg);
  }

  .p-hamburgerPC__title{
    font-size: 1.1em;
    text-align: center;
    padding: 0.5em 0;
    border: 1px solid #fff;
    margin-bottom: 1.5em;
  }

  .p-hamburgerPC__top ul{
    list-style: none;
  }

  .p-hamburgerPC__top ul li{
    margin-bottom: 8px;
  }

  .p-hamburgerPC__top select{
    border-radius: 3px;
    padding: 0 0.5em;
    font-family: Source Serif Pro, "æ¸¸æ˜Žæœ", YuMincho, "ãƒ’ãƒ©ã‚®ãƒŽæ˜Žæœ ProN W3", Hiragino Mincho ProN, "ï¼­ï¼³ æ˜Žæœ", "ï¼­ï¼³ ï¼°æ˜Žæœ", "HGæ˜ŽæœE", serif;
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    appearance: none; /* 標準のスタイルを無効にする */
  }

  .p-hamburgerPC__kids{
    position: relative;
    text-align: center;
  }

  .p-hamburgerPC__kids::after{
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 130px;
    top: calc(50% - 7px);
  }

  .p-hamburgerPC__kidsList{
    position: absolute;
    z-index: 5;
    width: 290px;
    padding: 30px 30px 25px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.8);

    display: none;
  }

  .p-hamburgerPC__kidsList > p{
    padding: 16px 0 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #fff;
  }

  .p-hamburgerPC__kidsList li{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .p-hamburgerPC__kidsClose{
    width: 258px;
    padding: 8px 16px;
    color: black;
    background-color: #fff;
    display: flex;
    align-items: center;
  }

  .p-hamburgerPC__kidsClose p{
    margin: 0 auto;
  }

  .p-search{
    position: relative;
    width: 100%;
    height: 42px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.9) 1px solid;
  }

  .p-search > p{
    margin: 0 auto;
    padding: 0;
  }

  .p-search:hover{
    color: white;
    background-color: black;
    border:1px solid white; /*borderのみ非表示*/
    transition: all 0.5s ease;
  }

  .p-search__arrow{
    position: absolute;
    left: 15px;
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow_down.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
  }

  .c-search__arrowWhite{
    display: none;
  }

  .c-search:hover .c-search__arrow{
    display: none;
  }

  .p-search:hover .c-search__arrowWhite{
    display: block;
    position: absolute;
    left: 15px;
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow_hover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-hamburgerPC__bottom{
    color: white;

  }

  .p-hamburgerPC__link{
    list-style: none;
    margin-bottom: 32px;
  }

  .p-hamburgerPC__link li{
    position: relative;
    padding-left: 20px;
    line-height: 1.5;
  }

  .p-hamburgerPC__link li p::before{
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow_hover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-hamburgerPC__reserve{
    /* height: 110px; */
    color: black;
    background-color: white;
    padding: 16px 16px 16px 0;
    margin: 20px 0;
  }

  .p-hamburgerPC__reserveCover{
    position: relative;
    padding-left: 90px;
  }

  .p-hamburgerPC__reserveCover::before{
    display: block;
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-image: url("../img/hamburger/icon_phone.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-hamburgerPC__tel{
    height: 25px;
    border-bottom: 1px black solid;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: left;
  }

  .p-hamburgerPC__reserveBottom{
    padding-top: 5px;
  }

  .p-hamburgerPC__number{
    width: 185px;
    height: 22px;
    margin-bottom: 3px;
    background-image: url("../img/hamburger/reserve_tel.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-hamburgerPC__openhour{}

  .p-hamburgerPC__bestrate{
    height: 165px;
    color: black;
    background-color: white;
    padding: 20px 15px;
  }

  .p-hamburgerPC__bestrateTop{
    position: relative;
    /* height: 100px; */
    border-bottom: 1px black solid;
  }

  .p-hamburgerPC__bestrateTop::before{
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    left: -15px;
    top: -20px;
    z-index: 1;
    border-left: #af9463 2px solid;
    border-top: #af9463 2px solid;
  }

  .p-hamburgerPC__bestrateTop::after{
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    right: -15px;
    top: -20px;
    z-index: 1;
    border-right: #af9463 2px solid;
    border-top: #af9463 2px solid;
  }

  .p-hamburgerPC__bestrateCover{
    height: 100px;
    padding-left: 130px;
    position: relative;
  }

  .p-hamburgerPC__bestrateCover::before{
    display: block;
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-image: url("../img/hamburger/reserve_bestrate.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-hamburgerPC__bestrateCover p{
    font-size: 13px;
    line-height: 160%;
  }

  .p-hamburgerPC__bestrateTitle{
    font-size: 21px !important;
    color: #af9463;
  }

  .p-hamburgerPC__bestrateBottom{
    position: relative;
    font-size: 14px;
    margin-top: 8px;
    padding-top: 10px;
    line-height: 160%;
  }

  .p-hamburgerPC__bestrateBottom::before{
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    left: -15px;
    bottom: -21px;
    z-index: 1;
    border-left: #af9463 2px solid;
    border-bottom: #af9463 2px solid;
  }

  .p-hamburgerPC__bestrateBottom::after{
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    right: -15px;
    bottom: -21px;
    z-index: 1;
    border-right: #af9463 2px solid;
    border-bottom: #af9463 2px solid;
  }

  /* after click event */

  .add{
    position: fixed;
    right: 0;
    transition:all .6s;
    overflow-y: scroll;
  }
  
  .close{
    position: absolute;
    right: -450px;
    transition:all .6s;
  }

}



/* SP style */
@media screen and (max-width: 768px){

  .p-hamburgerPC{
    display: none;
  }

  .p-humburgerSP{
    position: absolute;
    right: 0;
    width: 55px;
    height: 100%;
  }

  .p-humburgerSP::before{
    position: absolute;
    content: '';
    height: 30px;
    width: 1px;
    background-color: #c3c3c3;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -15px 0 0;
  }

  .p-humburgerSP__img{
    cursor: pointer;
  }

  .p-humburgerSP__img::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../img/header/sp/humburger_menu.png");
    background-size: 30px 15px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .p-humburgerSP__img::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../img/header/sp/humburger_close.png");
    background-size: 30px 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
  }
}