@charset "UTF-8";

/* SP style */
@media screen and (max-width: 768px){

  .wrapper{
    font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "Noto Serif JP", "ＭＳ 明朝", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "HG明朝E", serif;
  }

  .body{
    font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "Noto Serif JP", "ＭＳ 明朝", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "HG明朝E", serif;
  }

  /* hambueger開いているとき背景固定 */
  body.modal-open{
    overflow: hidden;
  }

  /* PC用のbrタグ無効化 */
  br{
    display: none;
  }
/* SP用の改行コード */
  .brSP::before{
    content: "\A" ;
    white-space: pre ;
  }

  .c-link{
    position: relative;
    border: double ;
    font-size: 13px;
    padding: 10px 0;
    margin: 40px 4%;
    display: flex;
    align-items: center;
  }

  .c-link:hover{
    color: white;
    background-color: black;
    border-color: transparent; /*borderのみ非表示*/
    transition: all 0.5s ease;
  }

  .c-link p{
    margin: 0 auto;
  }

  .c-link__arrow{
    position: absolute;
    right: 30px;
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow_down.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
  }

  .c-link__arrowWhite{
    display: none;
  }

  .c-link:hover .c-link__arrow{
    display: none;
  }

  .c-link:hover .c-link__arrowWhite{
    display: block;
    position: absolute;
    right: 30px;
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow_hover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  
  .title{
    width: 100%;
    height: 140px;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
  }

  h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  section{
    padding-bottom: 40px;
  }

  .c-section__logo{
    text-align: center;
    padding-bottom: 40px;
    font-size: 18px;
  }

  .c-section__logo img{
    margin: 48px 0;
    transform: rotate(-90deg);
  }

  .c-section__logo p{
    line-height: 2;
    font-size: 15px;
  }

  .p-main__logo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 165px;
    height: 170px;
    text-align: center;
  }

  .p-main__logoname{
    width: 100%;
    margin-bottom: 30px;
    font-size: 13px;
    color: white;

    font-family: "Source Serif Pro", 游明朝, "Yu Mincho", 游明朝体, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HiraMinProN-W3, "Noto Serif JP", "ＭＳ 明朝", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", HG明朝E, serif;
  }

  .p-main__logonameBig{
    margin-left: 10px;
    font-size: 17px;
  }

  .p-main__logo img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  
  /* header */
  .p-mainPhoto img{
    width: 100%;
    height: 93vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transform: scale(1.4);
    animation: animationZoom 15s ease-in-out infinite;

    object-fit: cover;
  }

  .p-main__scrolldown > p{
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-image: url("../img/header/arrow_down.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-header__information{
    display: none;
  }

  /* nav */
  .p-navTop,.p-navTop__title{
    display: none;
  }

  .p-navSP{
    width: 100%;
    z-index: 1;
  }

  .p-nav__menu{
    display: none;
  }

  /* top */

  .p-navSP__top{
    /* 要素の表示非表示 */
    display: flex;
    position: fixed;
    top: -50px;
    transition-duration:1s;
    width: 100%;
    height: 50px;
    background-color: white;
    align-items: center;
    border-bottom: #e6e6e6 1px solid;
    z-index: 5;
  }

  .p-navSP__logo{
    width: 40px;
    height: 30px;
    margin: 0 auto;
  }

  .p-navSP__logo img{
    width: 100%;
    cursor: pointer;
  }

  /* bottom */
  .p-navSP__bottom{
    display: flex;
    width: 100%;
    height: 50px;
  }

  .p-navSP__left{
    width: 50%;
    background: rgba(0, 0, 0, 0.9);
    border-right: 0.5px white solid;
    display: flex;
  }

  .p-navSP__left p{
    margin: 0 auto;
  }

  .p-navSP__leftImg{
    width: 105px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
  }

  .p-navSP__right{
    width: 50%;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
    border-left: 0.5px white solid;
    display: flex;
    align-items: center;
    position: relative;
  }

  .p-navSP__right a{
    margin: 0 auto;
  }

  .p-navSP__right ::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 5px;
    background-image: url("../img/header/sp/arrow_white.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* main */

  /* information */
  .p-information{

  }

  .p-information__title{
    font-size: 18px;
    padding: 40px 0 35px;
    text-align: center;
    border-bottom: 1px dotted #c3c3c3;
  }

  .p-information__list{
    padding: 0 10px;
  }

  .p-information__list li{
    position: relative;
    padding: 20px 40px 20px 0;
    border-bottom: 1px dotted #c3c3c3;
  }

  .p-information__list li::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    color: #fff;
    border-radius: 13px;
    background:gray url("../img/information/sp/arrow_white.png");
    background-size: 10px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .p-information__list li:hover{
    transition: all 0.5s ease;
    opacity: 0.5;
  }

  .p-information__listTop{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .p-information__list p{
    font-size: 13px;
  }

  .p-information__date{
    color: #838383;
    width: 100px;
  }

  .p-information__tag{
    color: #fff;
    text-align: center;
    letter-spacing: normal;
    width: 120px;
    background-color: #000;
    padding: 5px 0 3px;
  }

  .p-information__banner{
    padding: 60px 10px 0;
    list-style: none;
  }

  .p-information__banner li{
    cursor: pointer; 
    position: relative;
    width: 100%;
    height: 27vh;
    margin: 2px 0;
    background-color: black;
  }

  .p-information__bannerList img{
    width: 100%;
    height: 27vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
    object-fit: cover;
  }

  .p-information__bannerTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 19px;
    color: #fff;
    text-align: center;
  }

  /* Philosophy */
  .p-philosophy{
    margin-bottom: 80px;
  }

  .p-philosophy__img{
    background-image: url("../img/philosophy/philosophy_img.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  .p-philosophy__cover{
    text-align: center;
    font-size: 12px;
  }

  .p-philosophy__contents{
    align-items: center;
  }

  .p-philosophy__left{
    line-height: 1.7;
  }

  .p-philosophy__contentsTop{
    margin-bottom: 30px;
  }

  .p-philosophy__right{
    display: none;
  }

  /* スライド画像 */
  /* slick.cssに記載あり */

  /* dish */
  .p-dish{
    padding-bottom: 80px;
  }

  .p-dish__img{
    background-image: url("../img/dish/dish_img.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  .p-dish__contents{
    margin: 0 auto;
    padding: 0 10px;
  }

  .p-dish__left{
    position: relative;
    margin: 0 auto;
  }

  .arrow-prev{
    position: absolute;
    left: 5.5%;
    top: 48.5%;
    transform: translateY(-50%);
    width: 10px;
    height: 15px;
    transform: rotate(90deg);
    background-image: url("../img/arrow_down.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .arrow-next{
    position: absolute;
    right: 5.5%;
    top: 48.5%;
    transform: translateY(-50%);
    width: 10px;
    height: 15px;
    transform: rotate(-90deg);
    background-image: url("../img/arrow_down.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .slider__manual li img{
    width: 100%;
  }


  .p-dish__contentsRight{
    margin: 0 auto;
    width: 100%;
    line-height: 1.7;
  }

  .p-dish__contentsRight h3{
    padding: 30px 22px 40px;
    font-size: 24px;
    line-height: 1.8;
  }

  .p-dish__contentsRight > p{
    margin: 0 22px 40px;
    font-size: 14px;
    line-height: 1.8;
  }

  .p-dish__list{
    position: relative;
    padding: 40px 10px 0;
    margin: 0 auto;
    list-style: none;    
  }

  .p-dish__list li{
    position: relative;
    width: 100%;
    height: 110px;
    margin-bottom: 2px;
    cursor: pointer;
  }

  .p-dish__listImg{
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .dinner{
    background-image: url("../img/dish/dinner.jpg");
  }

  .breakfirst{
    background-image: url("../img/dish/breakfast.jpg");
  }

  .adddish{
    background-image: url("../img/dish/additional.jpg");
  }

  .p-dish__circle{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
    height: 65px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .p-dish__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: black;
    z-index: 2;
  }

  /* room */
  .p-room{
    padding-bottom: 80px;
  }
  .p-room__img{
    background-image: url("../img/room/room_img.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  .p-room__list{
    margin: 0 auto;
    padding: 0 10px;
    list-style: none;    
    text-align: center;
  }

  .p-room__list li{
    position: relative;
    width: 100%;
    height: 12em;
    margin: 2px 0;
    background-color: black;
  }

  .opacityOff{
    background-color: none;
    opacity: none;
  }

  .p-room__listImg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  .p-room__listTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 225px;
    height: 42px;
    font-size: 16px;
    color: #fff;
  }

  .p-room__capacity , .p-room__detail , 
  .p-room__search{
    display: none;
  }

  .p-room__listTitle p , .p-room__detail > a ,
  .p-room__capacity > a , .p-room__search > a{
    margin: 0 auto;
  }

  .special{
    background-image: url("../img/room/special_room.jpg");
  }
  .western{
    background-image: url("../img/room/western_style.jpg");
  }
  .japanese{
    background-image: url("../img/room/japanese_style.jpg");
  }

  /* bath */
  .p-bath__img{
    background-image: url("../img/bath/bath_img.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  .p-bath__select{
    list-style: none;
    margin: 0 auto;
  }

  .p-bath__select li{
    position: relative;
    border: double;
    font-size: 13px;
    padding: 10px 0;
    margin: 0 4% 10px;
    display: flex;
    align-items: center;
  }
  
  .p-bath__select li:hover{
    color: white;
    background-color: black;
    border-color: transparent; /*borderのみ非表示*/
    transition: all 0.5s ease;
  }

  .p-bath__select li a{
    margin: 0 auto;
  }
  
  .c-arrow__select , .c-arrow__commit , .c-arrow__about{
    display: none;
  }

  .c-arrow__selectSP{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(-90deg);
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow_down.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .c-arrow__WhiteSP{
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) ;
    width: 10px;
    height: 10px;
    background-image: url("../img/arrow_hover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .p-bath__select li:hover .c-arrow__blackSP{
    display: none;
    transition: all 0.5s ease;
  }

  .p-bath__select li:hover .c-arrow__WhiteSP{
    display: block;
    transition: all 0.5s ease;
  }

  .p-bathList{
    position: relative;
    margin: 104px auto 0;
    padding: 0 10px;
  }

  .p-bathList__cover{
    height: 500px;
    list-style: none;
    font-size: 16px;
    color: white;
    margin:0 20px;
  }

  .p-bathList__cover li{
    position: relative;
    width: 100%;
    height: 140px;
    margin: 10px 0;
    cursor: pointer;
    background-color: black;
  }

  .c-arrow__blackSP{
    position: absolute;
    top: 50%;
    right: 27px;
    transform: translateY(-50%) rotate(-90deg);
    width: 10px;
    height: 10px;
    background:url("../img/arrow_down.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .p-bathList__cover li::after{
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url("../img/bath/circle.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .p-bathList__img img{
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.3;

    object-fit: cover;
  }

  .p-bathList__hover{
    display: none;
  }

  .p-bathList__title{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
  }

  .is-hidden{
    transition: .6s;
    display: none;
  }
  
  /* commit */
  .p-bathCommit__cover{
    text-align: center;
    padding: 0 3%;
  }

  .p-bathCommit__left{
    line-height: 1.7;
  }

  .p-bathCommit__left h3{
    font-size: 16px;
    margin-bottom: 30px;
  }

  .p-bathCommit__left p{
    font-size: 14px;
    margin-bottom: 30px;
    text-align: left;
    padding: 0 3%;
  }

  .p-bathCommit__right{
    position: relative;
    width: 100%;
    margin: 2px 0;
  }

  .p-bathCommit__right img{
    width: 100%;
  }

    /* about */

    .p-bathAbout__bottom{
      margin-top: 45px;
    }
  
    .p-bathAbout__title{
      align-items: center;
    }
  
    .p-bathAbout__title p{
      width: 230px;
      border-left: double;
      font-size: 18px;
      padding-left: 28px;
      margin-right: 30px;
      line-height: 50px;
    }
  
    .p-bathAbout__right{
      list-style: none;
    }
  
    .p-bathAbout__right li{
      font-size: 14px;
      padding: 20px 0 18px;
      display: flex;
      border-bottom: #c3c3c3 1px solid;
      line-height: 180%;
    }
  
    .p-bathAbout__right h4{
      width: 160px;
    }
  
    .p-bathAbout__right p{}

  /* guide */
  .p-guide{
    padding-bottom: 80px;
  }

  .p-guide__img{
    background-image: url("../img/guide/guide_img.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  .p-guide__contents{
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
  }

  .p-guide__list{
    width: 49%;
    margin: 0 10px;
    /* contentsListの上下入れ替え */
    display: flex;
    flex-direction: column;
  }

  .p-guide__listLeft{
    position: relative;
    order: 2;
    text-align: center;
  }

  .p-guide__listLeft p{
    font-size: 13px;
    margin: 10px 0;
  }

  .p-guide__listSpace{
    font-size: 9px !important; 
  }

  /* right */
  .p-guide__listRight {
    order: 1;
    position: relative;
    cursor: pointer;
  }
  
  .p-guide__listImg {
    width: 100%;
    height: 12em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .cafe{
    background-image: url("../img/guide/guide_cafe.jpg");
  }
  .lounge{
    background-image: url("../img/guide/guide_lounge.jpg");
  }

  .p-guide__detail {
    display: none;
  }

  /* footer */

}